
<div class="ob-kpi-box">
	<div class="row equal-height-cols">
		<div class="col-xs-4">
			<div class="row equal-height-cols">
				<div class="col-xs-">
					<div class="font-lg">
						<div class="value" ng-bind="68345 | kpiNumber:2"></div>
						<label>Total Content Views /hr</label>
					</div>
				</div>
				<div class="col-xs-6">
					<ob-bullet-graph>
						<ob-bullet-bar value="10" class="progress-bar-info" name="search"></ob-bullet-bar>
						<ob-bullet-benchmark value="20"></ob-bullet-benchmark>
					</ob-bullet-graph>
				</div>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="row">
				<div class="col-xs-12 col-lg-6">
					<div class="font-md center-table">
						<div class="value" ng-bind="1468345 | kpiNumber:2"></div>
						<label>Last Tuesday</label>
					</div>
				</div>
				<div class="col-xs-12 col-lg-6">
					<div class="font-md center-table">
						<div class="value" ng-bind="1368345 | kpiNumber:2"></div>
						<label>Last Month</label>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-5">
			<div class="capsule-table">
				<div>
					<div class="capsule-group">
						<div class="capsule">
							<div class="base"></div>
							<div class="glass">
								<div class="bar"></div>
							</div>
						</div>
						<div class="source">Front Page</div>
						<div class="value" ng-bind="34455 | kpiNumber:2"></div>
					</div>
				</div>
				<div>
					<div class="capsule-group">
						<div class="capsule">
							<div class="base"></div>
							<div class="glass">
								<div class="bar"></div>
							</div>
						</div>
						<div class="source">Front Page</div>
						<div class="value" ng-bind="34455 | kpiNumber:2"></div>
					</div>
				</div>
				<div>
					<div class="capsule-group">
						<div class="capsule">
							<div class="base"></div>
							<div class="glass">
								<div class="bar"></div>
							</div>
						</div>
						<div class="source">Front Page</div>
						<div class="value" ng-bind="34455 | kpiNumber:2"></div>
					</div>
				</div>
				<div>
					<div class="capsule-group">
						<div class="capsule">
							<div class="base"></div>
							<div class="glass">
								<div class="bar"></div>
							</div>
						</div>
						<div class="source">Front Page</div>
						<div class="value" ng-bind="34455 | kpiNumber:2"></div>
					</div>
				</div>
				<div>
					<div class="capsule-group">
						<div class="capsule">
							<div class="base"></div>
							<div class="glass">
								<div class="bar"></div>
							</div>
						</div>
						<div class="source">Aggregators</div>
						<div class="value" ng-bind="34455 | kpiNumber:2"></div>
					</div>
				</div>
				<div>
					<div class="capsule-group">
						<div class="capsule">
							<div class="base"></div>
							<div class="glass">
								<div class="bar"></div>
							</div>
						</div>
						<div class="source">Originators</div>
						<div class="value" ng-bind="34455 | kpiNumber:2"></div>
					</div>
				</div>
				<div>
					<div class="capsule-group">
						<div class="capsule">
							<div class="base"></div>
							<div class="glass">
								<div class="bar"></div>
							</div>
						</div>
						<div class="source">RSS / Email</div>
						<div class="value" ng-bind="34455 | kpiNumber:2"></div>
					</div>
				</div>
				<div>
					<div class="capsule-group">
						<div class="capsule">
							<div class="base"></div>
							<div class="glass">
								<div class="bar"></div>
							</div>
						</div>
						<div class="source">Unclassified</div>
						<div class="value" ng-bind="34455 | kpiNumber:2"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>