
<div class="ob-kpi-box">
	<div class="row">
		<div class="col-xs-4">
			<div class="center-table font-lg">
				<div class="value">{{10234455455 | kpiNumber:2}}</div>
				<label>Impressions</label>
			</div>
			<div class="btn-group">
				<button type="button"class="btn btn-xs btn-default">Left</button>
				<button type="button"class="btn btn-xs btn-default">Middle</button>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="center-table font-lg">
				<div class="value">{{34343344 | kpiNumber:2 }}</div>
				<label>Clicks</label>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="center-table font-lg">
				<div class="value">
					<span class="currency">$</span>{{43443 | number}}
				</div>
				<label>Spend</label>
			</div>
		</div>
	</div>
</div>