ob-sparkline {
  display: block;
  position: relative;
  overflow: hidden;
  height: 100px;

  .area {
    stroke: none;
  }

  .line {
    fill: none;
    stroke: blue;
    stroke-width: 3px;
  }
}

