.ob-table {

	min-width: 964px;

	ul.thead,
	ul.tbody, 
	ul.tr {
		position: relative;
		list-style: none;
		padding: 0;
		margin: 0;
		// overflow: hidden;
	}

	li.td {
		text-align: center;
		line-height: 3rem;
	}

	ul.thead {
		background-color: @table-head-bg-color;

		.td {
			color: @table-head-color;
			font-size: 1.1rem;
			cursor: default;
			.user-select(none);
			&.sortable {
				cursor: pointer;
				.user-select(none);
				&:hover,
				&.sorted {
					color: @table-head-active-color;
					background-color: @table-head-active-bg-color;
				}
				&.sorted-asc::after {
					content: '\25B2';
				}
				&.sorted-desc::after {
					content: '\25BC';
				}
				// &.sorted::before {
				// 	position: absolute;
				// 	height: 500px;
				// 	width: 100%;
				// 	background-color: #FF0;
				// 	content: " ";
				// 	top: 100%;
				// 	z-index: 1;
				// 	left: 0;
				// }
			}
		}
	}

	ul.tbody {
		background-color: @table-body-bg-color;
		.row {
			position: relative;
			z-index: 2;
			border-bottom: 1px solid @table-border-color;
			&.totals {
					background-color: @table-total-bg-color;
					border-bottom: 1px @table-head-active-bg-color solid;
				.td {
					color: @table-total-color;
					&.sorted {
						color: @table-total-active-color;
						background-color: @table-total-active-bg-color;
					}
				}
				&::before {
					content: "Totals >";
					position: absolute;
					left: 0;
					white-space: nowrap;
					padding: 0.2rem;
					font-size: 1.2rem;
					background: @table-total-label-bg-color;
					margin: 1.3rem 1.3rem 1.3rem 0.6rem;
					color: @table-total-label-color;
				}
			}
		}
		.td {
			color: @table-body-color;
			padding: 1.3rem 0;
		}
		// // &::after,
		& .highlight {
			// content: " ";
			background: #dfdfdf;
			position: absolute;
			height: 100%;
			bottom: 0;
			// margin-left: 16.6666667%;
			// left: 50px;
			width: 16.666667%;
			z-index: 1;
			border-left: 1px solid #ccc;
			border-right: 1px solid #ccc;
			&.anim {
				transition: margin-left @table-highlight-transition-duration @table-highlight-transition-timing-function;
			}
		}
	}

	&.show-totals {
		ul.thead,
		ul.tbody .row {
			padding-left: 60px;
		}

		.expanded-row::before {
			content: " ";
			width: 60px;
			height: 100%;
			background-color: #FFF;
			position: absolute;
			left: 0;
			margin-left: -60px;
		}
	}

	&.expandable {
		ul.thead,
		ul.tbody .row {
			padding-right: 30px;
		}
		.row.expanded .expand-toggle,
		.row:hover .expand-toggle {
			opacity: 1;
			border-left: 1px solid @table-total-bg-color;
		}
		.expand-toggle {
			position: absolute;
			right: 0;
			margin-right: -30px;
			width: 30px;
			height: 100%;
			opacity: 0;
			cursor: pointer;
			text-align: center;
			font-size: 2rem;
			color: @table-body-color;
			.user-select(none);

			&::before {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
				margin-right: -0.25em; /* Adjusts for spacing */
			}

			&:hover {
				color: @table-total-color;
				background-color: @table-highlight-bg-color;
			}

			.center {
				display: inline-block;
				vertical-align: middle;
				// width: 300px;
			}
		}

		.expanded-row {
			background-color: #FFF;
			position: relative;
			display: inline-block;
			width: 100%;
			border-top: 1px solid #E2E2E2;
		}
		// ul.tbody .row:not(.totals)::after {
		// 	position: absolute;
		// 	top: 0;
		// 	right: 0;
		// 	content: '\21D5';
		// 	width: 30px;
		// 	text-align: center;
		// 	// height: 100%;
		// 	// margin-right: -30px;
		// 	padding: 1.4rem 0;
		// }
		// ul.tbody .row:not(.totals):hover::after {
		// 	background-color: @table-highlight-bg-color;
		// 	&:hover {
		// 		cursor: pointer;
		// 	}
		// }
	}

	[type="search"] {
		float: right;
		border-radius: 90px;
		padding: 0 10px;
		outline: none !important;
	}

}

.animate-repeat {
  line-height:40px;
  list-style:none;
  box-sizing:border-box;
  overflow: hidden;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:max-height linear 0.15s, opacity linear 0.15s;
  transition:max-height linear 0.15s, opacity linear 0.15s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:100px;
}



// /* Data Matrix */
// .matrix {
// 	width: 100%;
// 	font-size: 14px;
//     font-weight: 700;
// 	color: #666;
// 	clear: both;
// }
// 	.matrix ul {
// 		margin: 0;
// 		padding: 0;
// 	}
// 	.matrix li {
// 		list-style: none;
// 		position: relative;
// 	}
// 	.matrix li.bullet {
// 		list-style: disc;
// 		list-style-position: inside;
// 	}
// 	.matrix .tbody a:hover {
// 		color: #2A51A1;
// 	}

// /* Column headers */

// .thead {
// 	// height: 49px;
// 	padding: 0 40px 0 40px;
// 	border-bottom: 1px solid #dddede;
// }
// 	.thead .col, .table > thead > tr > th {
// 		color: #333;
// 		text-transform: uppercase;
// 		padding: 20px 10px 0 40px;
// 		height: 48px;
// 		white-space: nowrap;
// 		font-weight: bold;
// 		cursor: default;
// 		border: 0 none;
// 	}
// 	.thead .col {
// 		float: left;
// 	}
// 	.thead .col.sortable {
// 		cursor: pointer;
// 	}
// 	.thead .sortable:hover {
// 		color: #47484A;
// 		background-color: #ffffbb;
// 	}
// 	.thead .sorted {
// 		background-color: #ffc;
// 	}
// 	.thead a:hover {
// 		color: #2A51A1;
// 	}

// /* Matrix rows */
// .tbody > li, .tr {
// 	border-bottom: 1px solid #dddede;
// 	min-height: 48px;
//     padding: 0 40px 0 40px;
// }
// .tbody li.hidden {
// 	display: none;
// }
// .tbody > li:hover, .tr:hover {
// 	background-color: #ffc;
// }
// 	.tbody .col {
// 		padding: 12px 10px;
// 		line-height: 23px;
// 		position: relative;
// 		float: left;
// 	}

// /** Matrix common columns **/

// .tbody .performance-bar {
// 	width: 129px;
// 	padding: 0 0 0 8px;
// 	vertical-align: top;
// 	margin-top: 1px;
// 	position: relative;
// }
// 	.performance-bar .bar-start {
// 		width: 1px;
// 		height: 19px;
// 		background: #b9b9b9;
// 		margin: 9px 0 0 0;
// 	}
// 	.performance-bar .bar {
// 		min-width: 2px;
// 		width: 1px;
// 		max-width: 120px;
// 		height: 11px;
// 		background-color: #ffbe73;
// 		position: absolute;
// 		left: 9px;
// 		top: 13px;
// 	}
// 	.performance-bar .bar-green {
// 		background: #7aa824;
// 	}
// 	.performance-bar .bar-red {
// 		background: #f14e45;
// 	}
// 	.performance-bar .bar-grey {
// 		background: #A6A6A6;
// 	}
// 	.performance-bar .bar-light-orange {
// 		background: #ffe3c5;
// 	}
// 	.performance-bar .bar-green.bar-light-orange {
// 		background: #d7e5bd;
// 	}
// 	.performance-bar .bar-avg {
// 		width: 2px;
// 		height: 15px;
// 		background: #696969;
// 		position: absolute;
// 		margin-left: 9px;
// 		top: 11px;
// 		left: 0;
// 	}
// 		.matrix li:hover .bar-avg {
// 			top: 9px;
// 			height: 19px;
// 		}

// 	/* css animations */
// 	.performance-bar .bar {
// 		transition: width 9s ease-out, background-color 2s ease-out;
// 		-webkit-transition: width 9s ease-out, background-color 2s ease-out;
// 		-moz-transition: width 9s ease-out, background-color 2s ease-out;
// 	}
// 		.start-speed .performance-bar .bar {
// 			transition: width 2s ease-out;
// 			-webkit-transition: width 2s ease-out;
// 			-moz-transition: width 2s ease-out;
// 		}
// 	.performance-bar .bar-avg {
// 		transition: left 9s ease-out;
// 		-webkit-transition: left 9s ease-out;
// 		-moz-transition: left 9s ease-out;
// 	}
// 		.start-speed .performance-bar .bar-avg {
// 			transition: left 2s ease-out;
// 			-webkit-transition: left 2s ease-out;
// 			-moz-transition: left 2s ease-out;
// 		}

// 	.bar-broken {
// 		display: none;
// 		margin: 0 auto;
// 		width: 10px;
// 		height: 13px;
// 		z-index: 1;
// 		background: url('/static/images/vr_sprite.png') -104px -190px;
// 	}
// 		.normalized .bar-broken {
// 			display: block;
// 		}
// 		li:hover .bar-broken {
// 			background-position: -104px -203px;
// 		}

// /** Fluid-fixed columns layout
// 	@ref http://www.dynamicdrive.com/style/layouts/item/css-liquid-layout-22-fluid-fixed/ */

// .matrix .fluid {
// 	float: left;
// 	width: 100%;
// 	// height: 100%;
// }
// .matrix .fixed-left {
// 	float: left;
// 	margin-left: -100%;
// }
// .matrix .fixed-right {
// 	float: right;
// 	margin-left: -100%;
// }