/* Capsule CSS*/
.capsule-table {
	display: table;
	width: 100%;
    padding-right: 15px;
}

.capsule-table > .capsule-cell{
	display: table-cell;
}

.capsule-group{
	width: 46px;
	margin: 0 auto;
    color: darken(@brand-success, 30%);
  
    .source{
    font-size: 10px;
    text-align: center;
    margin-top: 5px;
  }
  .value{
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    margin-top: 2px;
  }

 .value .kpi-suffix{
    font-size: 8px;
  }
}

.capsule {
	position: relative;
	height: 115px;
	left: 8px;
    color: blue;

  .glass:before {
    position: absolute;
    z-index: 5;
    content: "";
    width: 26px;
    height: 4px;
    bottom: -1px;
    right: -1px;
    background-color: #bbb;
  }

  .glass {
    position: absolute;
    left: 2px;
    width: 26px;
    padding-bottom: 0px;
    height: 100%;
    border: solid 1px #bbb;
    background-color: #ddd;
    border-radius: 3px 3px 0 0;
  }

  .chamber{
    position: absolute;
    height: 110px;
    bottom: 0;
  }

  /* Adjust height 0 - 100% */
  .bar {
    position: absolute;
    left: 3px;
    bottom: 0px;
    width: 18px;
    height: 0%;
    background-color: @brand-success;
    border: 1px solid darken(@brand-success, 15%);
    border-radius: 3px 3px 0 0;
  }

}


.capsule-title{
    color: darken(@brand-success, 25%);
    margin: 0 0 15px 5%;
    font-size: 16px;
}


.high-performance .bar{
    background-color: lighten(overlay(@brand-success, #bbb), 7%);
    border-color: overlay(@brand-success, #777);
}

.low-performance .bar{
    background-color: multiply(@brand-success, #bbb);
}
