
/* Capsule CSS*/
.capsule-table {
	display: table;
	width: 100%;
}

.capsule-table > div{
	display: table-cell;
}

.capsule-group{
	width: 46px;
	margin: 0 auto;
}

.capsule {
	position: relative;
	height: 115px;
	left: 8px;
}

.capsule .base {
	position: absolute;
    z-index: 5;
	width: 30px;
	height: 2px;
	bottom: 0;
	margin-left: 0px;
	background-color: #ccc;
}

.capsule .glass {
	position: absolute;
	left: 2px;
	width: 26px;
	padding-bottom: 0px;
	padding-top: 3px;
	height: 100%;
	border: solid 1px #ccc;
    background-color: #eee;
	border-radius: 3px 3px 0 0;
    
}

/* Adjust height 0 - 100% */
.capsule .bar {
	position: relative;
	left: 3px;
	width: 18px;
	height: 100%;
	background-color: @brand-success;
    border: 1px solid darken(@brand-success, 8%);
    border-radius: 3px 3px 0 0;
}

.capsule ~ .source{
	font-size: 8px;
	text-align: center;
	margin-top: 2px;
}
.capsule ~ .value{
	font-weight: bold;
	font-size: 8px;
	text-align: center;
}