<div class="popover {{placement}}" ng-class="{ in: isOpen(), fade: animation() }">
  <div class="arrow"></div>
  <div class="popover-inner">
    <div class="popover-content">
      <h2>Glossary</h2>
      <h3>CTR</h3>
      <p>CTR represents overall user engagement with the Outbrain service installed on your site. CTR is an abbreviation for Click Through Rate. The calculation divides total number of clicks on Outbrain recommendations by the total number of pageviews with Outbrain. (e.g. CTR = Clicks/Pageviews)</p>

      <h3>RPM</h3>
      <p>RPM is an abbreviation for Revenue Per Thousand impressions. The calculation divides revenue by impressions of Outbrain's sponsored recommendations. (e.g. RPM = (Revenue/Impressions)*1000)</p>

      <h3>Revenue</h3>
      <p>Net Revenue to you generated as a result of clicks on Outbrain's sponsored recommendations.</p>

      <h3>Clicks</h3>
      <p>The total number of times an Outbrain recommendation was clicked.</p>

      <h3>Organic Clicks</h3>
      <p>"Organic" clicks load your content or content you've agreed to host on your site free of charge.</p>

      <h3>Paid Clicks</h3>
      <p>"Paid" clicks generate revenue to you and they load Outbrain's sponsored recommendations.</p>

      <h3>PageViews</h3>
      <p>The number of pageviews where Outbrain's sponsored recommendations have been served. Please note this count only represents paid links within the primary Outbrain widget (normally in the footer of your article pages).</p>

    </div>
  </div>
</div>