@import "lib/bootstrap/less/variables";
@import "pages/components/components";
@import "pages/main/main";

#ob-doc-nav {
	position: fixed;
	width: 100%;
	z-index: 1;

	nav {
		padding: 0 10px;
	}
}

[ob-wrapper] {
	height: 100%;
}