@import "lib/bootstrap/less/variables";
@import "pages/components/components";
@import "pages/main/main";

#ob-doc-nav {
	position: fixed;
	width: 100%;
	z-index: 1;

	nav {
		padding: 0 10px;
	}
}

[ob-wrapper] {
	height: 100%;
}

.navbar-default .active a{
    background-color: #e17613 ;
}

.navbar-default a:active{
    background-color: #e17613 !important ;
}


.navbar-default{
    background-color: #ff9900;
    border-bottom:1px #e17613  solid;
    padding: 0 30px;
     letter-spacing: .075em;
        font-weight: 300;

    a{}


}

.navbar-brand{
    font-size: 24px;
    margin: 0 20px;

 &:hover{
    color: #fff !important;
    }
}

h2{
    font-weight: 700;
}