@gray-darkest:            lighten(#000, 6%);
@gray-lightest:           lighten(#000, 96.5%);

@white-lighter:          darken(#fff, 0%); 
@white-light:            darken(#fff, 10%);   
@white:                  darken(#fff, 20%); 
@white-dark:             darken(#fff, 30%);   
@white-darker:           darken(#fff, 40%); 

//== Layout
@layout-min-width: 				964px;

//== Sidebar (layout)
@sidebar-collapsed-size: 		55px;
@sidebar-expanded-size: 		200px;
@sidebar-collapse-duration: 	0.2s;
@sidebar-collapse-motion: 		ease-in-out;
@sidebar-z-index: 				1000;

